<div class="col-md-4 mb-3">
    <div class="card bg-dark">
        <div class="card-body">
            <div class="row text-light">
                <div class="col-3">
                    <div class="mx-auto text-center">
                        <img src="http://openweathermap.org/img/w/{{ weather['icon'] }}.png" alt="">
                    </div>
                </div>
                <div class="col-9 text-right">
                    <h4 class="text-capitalize"> {{ weather['description'] }} </h4>
                    <h1 class="temp">{{ weather['temp'] }}°C</h1>
                    <h5> {{ weather['location'] }} </h5>
                </div>
            </div>
            <div class="row mt-3 py-2 text-dark bg-light">
                <div class="col-6">
                    <p>
                        Feels like
                    </p>
                </div>
                <div class="col-6 text-right">
                    <p>
                        {{ weather['feels_like'] }}°C
                    </p>
                </div>

                <div class="col-6">
                    <p>
                        Humidity
                    </p>
                </div>
                <div class="col-6 text-right">
                    <p>
                        {{ weather['humidity'] }}%
                    </p>
                </div>
                <div class="col-6">
                    <p>
                        Wind
                    </p>
                </div>
                <div class="col-6 text-right">
                    <p>
                        {{ weather['wind'] }}mph
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>