{% extends "base.html" %}
{% block content %}

    <section class="container">
        <div class="row my-5">
            <div class="col-md-6 offset-md-3 col-12">
                <form method="POST" id="cityForm">
                    <input type="text" name="city" placeholder="Enter city" class="form-input">
                    <button type="submit" class="btn btn-primary weather-btn mb-1">Get Weather</button>
                </form>
            </div>
        </div>

        <!-- Cards -->
        <div class="row mt-5 py-3">
            {% for weather in weather_data %}
                {% include '_weathercard.html' %}
            {% endfor %}
        </div>
    </section>

{% endblock content %}